#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App{
  background-color: var(--bg-color);
  transition: background-color .3s ease-in-out;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

}