.calendar {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  transition: background-color .3s ease-in-out;
}

.calendar h2{
    font-size: 1.875rem;
    font-weight: 300;
    color: #ec4899;
    margin-bottom: 1rem;
}