.about {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #ffffff;
}

.about h2{
    font-size: 1.875rem;
    font-weight: 300;
    color: #b45309;
    margin-bottom: 1rem;
}