:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-color: white;
  --primary-text: #5d5757;
  --secondary-text: #bda777;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
  --opacity: rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
    background-color: #ec4899;
    color: white;
    padding: 1rem 1.5rem;
    border: 2px;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(20, 184, 166, 0.2);
}

button:hover {
    background-color: #db2777;
    box-shadow: 0 4px 6px rgba(20, 184, 166, 0.3);
    transform: translateY(-1px);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(20, 184, 166, 0.2);
}

[data-theme="dark"]{
  --bg-color: #4A4343;
  --primary-text: white;
  --secondary-text: #bda777;
  --toggle-bg:#283452;
  --toggle-fg: #0ab6ff;
  --opacity: rgba(0, 0, 0, 0.6);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


